.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.capital-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.capital-input {
    max-width: 18rem;
    color: black;
    border-color: #1677FF;
    margin-right: 0.5rem;
}

.capital-currency {
    font-size: 2rem;
    color: #1677FF;
    font-weight: bold;
}

.actions {
    margin-top: 2rem;
}

.submit-button {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
    height: auto !important;
    font-weight: bold;
    font-size: 1rem !important;
}