.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.capital-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.capital-input {
    max-width: 18rem;
    color: black;
    border-color: #1677FF;
    margin-right: 0.5rem;
}

.capital-currency {
    font-size: 2rem;
    color: #1677FF;
    font-weight: bold;
}

.actions {
    margin-top: 2rem;
}