.home {
    margin-top: 5rem;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #1677FF;
}

.submit-button {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
    height: auto !important;
    font-weight: bold;
    font-size: 1rem !important;
}